@use "theme" as *;

$full-screen: 100vh;
$body-margin: 20px;

html, body {
  background-color: $color-bg-primary;
  color: $color-text-primary;
  font-size: 18px;
  font-family: system-ui, sans-serif;
  margin: $body-margin;
  min-height: $full-screen;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

h1 {
  text-align: left;
  font-size: 2.25rem;
  font-weight: 600;
  margin: 2rem 0;

  .primary {
    color: $color-text-primary;
  }
  .secondary {
    color: $color-text-secondary;
    font-weight: 400;
  }
}

embed {
  width: 100%;
  height: 85vh;
  border: 10px solid $color-bg-secondary;
  box-shadow: 0 0 20px $shadow-soft;
}

footer {
  display: flex;
  height: 5hv;
  font-size: 0.75rem;
  color: $color-text-secondary;
}